body {
    background-color: #000000;
    background-image: url("/media/sparkling_background.gif");
    background-size: auto;
    background-repeat: repeat;
    background-position: center;
    font-family: "Jersey 15", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}


    #title {
    color: purple;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(128, 0, 128, 0.7);
    font-size: 26px;
    animation: wiggle 1s ease-in-out infinite;

}

    #title, .navigation a, p, .index-introduction-area, .the-glade-container, .server-info {
    font-family: "Jersey 15", sans-serif;
}

    .dot {
    position: absolute;
    height: 10px;
    width: 10px;
    background: #ff002d;
    border-radius: 50%;
}

    hr {
    border: none;
    height: 2px;
    background: repeating-linear-gradient(
        to right,
        #ffffff,
        #ffffff 10px,
        #000000 10px, 
        #000000 20px  
    );
    margin: 0;
    margin-top: 5px; 
    margin-bottom: 5px; 
}


.bee-area {
    cursor: none;
}

    #ascii-art {
    color: #ff93f4;
    font-weight: 900; /* max bold */
    text-align: center;
    white-space: pre;
    font-size: 7px;
    font-family: "Lucida Console", monospace;
}

/* https://uiverse.io/StealthWorm/pretty-lion-68 code for button stolen from */
.btn {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 10rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

  
  a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }
  
  #container-stars {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
  }
  
  .btn strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 30px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
  }
  
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
  }
  
  .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
  }
  
  .btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
  }
  
  .btn:hover {
    transform: scale(1.1)
  }
  
  .btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }
  
  .btn:active .circle {
    background: #FE53BB;
  }
  
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-135rem);
    }
  }
  
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0);
    }
  }
  
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }

    .navigation {
    text-align: center;
    background-color: rgba(
        255,
        154,
        154,
        0
    ); 
    padding: 10px 0; 
    border-bottom: 2px solid #fff; 
}
        .navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}
        .navigation li {
    display: inline; 
    margin-right: 10px; 
}
        .navigation a {
    text-decoration: none;
    color: #ffffff; 
    font-weight: thin;
}
        .navigation ul li {
    display: inline; 
    margin-right: 10px; 
    position: relative; 
}
        .navigation ul li:not(:last-child):after {
    content: '|'; /* separator */
    color: #ffffff;
    margin-left: 10px; 
}
        .navigation a:hover,
        .navigation a:focus {
    color: #7a0060; 
    cursor: pointer; 
}

    .button-container {
    text-align: center; 
    padding-top: 0px;
    background-color: transparent;
    order: 2;
}

        .cat-explosion-pushable {
  margin: auto;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
            .cat-explosion-pushable:hover {
  filter: brightness(110%);
}
            .cat-explosion-pushable:hover .cat-explosion-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}
            .cat-explosion-pushable:active .cat-explosion-front {
  transform: translateY(-15px);
  transition: transform 34ms;
}
            .cat-explosion-pushable:hover .cat-explosion-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}
            .cat-explosion-pushable:active .cat-explosion-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
            .cat-explosion-pushable:focus:not(:focus-visible) {
  outline: none;
}

            .cat-explosion-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(330deg 100% 70% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}
            .cat-explosion-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to right,
    hsl(330deg 100% 70%) 0%,
    hsl(330deg 100% 70%) 0%,
    hsl(330deg 100% 70%) 0%
  );
}
            .cat-explosion-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(330deg 100% 75%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}
            @media (min-width: 768px) {
  .cat-explosion-front {
    font-size: 1.7rem;
    padding: 12px 42px;
  }
}
        
.index-top-flex-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    overflow: auto;
    background-color: transparent;
    justify-content: center;
    align-content: center;
    align-items: center;
}

    .index-butterfly1 {
        order: 2;
        flex: 0 0 35%; 
        background-color: transparent;
}
        .index-butterfly1 img {
    height: 320px;
    width: 400px; 
    order: 0;
    flex: 0 0 35%; 
    background-color: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .index-introduction-area {
    text-align: center;
    flex-grow: 1; 
    order: 1;
    padding: 0 20px; 
    margin-top: 15px;
    width: 480px;
    height: 680px;
    box-sizing: border-box;
    color: #ff53c3;
    font-family: "Lucida Console", monospace;
    font-size: 24px;
    background-color: #46004673;
    border: 5px solid rgba(255, 0, 255, 0.3);
    border-radius: 50px;
}

    .button-link img {
        min-width: 176px;
        min-height: auto;
    }

    .index-butterfly2 { 
        order: 0;
        flex: 0 0 35%; 
        background-color: transparent;
}
        .index-butterfly2 img {
            height: 320px;
            width: 400px; 
            order: 0;
            flex: 0 0 35%; 
            background-color: transparent;
            display: block;
            margin-left: auto;
            margin-right: auto;
}

.index-middle-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0px 0; 
    background-color: transparent;
}

    .index-grasshopper {
    max-width: 25%;
    width: 300px; 
    order: 0;
    flex: 0 0 35%; 
    background-color: transparent;
}
        .index-grasshopper img {
    padding-left: 40px;
    width: 500px; 
    order: 1;
    flex: 0 0 35%; 
    background-color:transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .cbox-chat {
        padding: 15px;
        border-radius: 10px;
        border-top-right-radius: 200px;
        border-top-left-radius: 200px;
        border: 5px solid rgba(255, 0, 255, 0.3);
        padding-top: 90px;
    }

    .maeborder-area {
    flex: 0 0 35%; 
    max-width: 350px; 
    padding: 0px;
    padding-left: 200px;
}
        .maeborder-area img {
    width: 100%; 
    height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

        .jo\.llei-credit {
    text-align: center;
    margin-top: 10px;
    font-size: 1em;
    color: #ffffff;
}

.index-bottom-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 20px 0; 
    background-color: transparent;
}

        .increment-counter {
            margin-right: 200px;
            display: flex;
            align-items: center;
            padding: 20px;
            order: 1;
            margin-left: 120px;
        }

    #now-playing {
    display: flex;
    align-items: center;
    background-color: rgba(70, 0, 70, 0.45);
    border-radius: 20px;
    padding: 7px;
    order: 3;
    margin-left: 200px;
    color: #ff53c3;
    border: 5px solid rgba(255, 0, 255, 0.3);
    margin-right: 30px;
}

        #album-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
}
        #song-title {
            margin: 0;
            margin-top: -10px;
        }

       #artist-name {
    margin: 0;
}

        #song-timer {
    margin-top: 10px;
    color: cyan;
}


.about-top-flex-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    resize: both;
    overflow: auto;
    background-color: transparent;
}

    .spin-bee {
    order: 0;
    flex: 10 0 20%; 
    background-color: transparent;
    margin-left: auto;
    margin-top: 100px;
}
        .spin-bee img {
    width: 250px;
    padding: 0px;
    order: 1;
    flex: 0 0 35%; 
    background-color:transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .about-text-area {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1; 
    padding: 0 20px; 
    margin-top: 1px;
    min-width: 500px;
    min-height: 50px;
    padding-left: 0; 
    box-sizing: border-box;
    color: #ff53c3;
    font-family: "Lucida Console", monospace;
    font-size: 22px;
    background-color: transparent;
    border-radius: 50px;
    background-color: rgba(70, 0, 70, 0.45);
    border: 5px solid rgba(255, 0, 255, 0.3);
    
}

.about-middle-flex-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    resize: both;
    overflow: auto;
    background-color: transparent;    
}

    .piclog {
    flex: auto;
    margin-left: auto;
}
        .piclog img {
        width: 300px;
        padding: 0px;
        border: 10px dashed rgba(255, 0, 255, 0.3);
        background-color: rgba(70, 0, 70, 0.45);
        border-radius: 50px;
        order: 0;
        flex: 0 0 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .piclog-text {
    margin-left: 250px;
    margin-right: auto;
    font-size: 1em;
    color: #ffffff;
    }

    .now-title a {
        font-family: "Lucida Console", monospace;
        width: 300px;
        padding: 0px;
        order: 1;
        text-align: center;
        font-weight: 600;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        flex: 0 0 50%;
        font-size: 50px;
        display: block;
        color: fuchsia;
    }

    .now-container {
        font-family: "Lucida Console", monospace;
        width: 300px;
        padding: 0px;
        border: 10px dashed rgba(255, 0, 255, 0.3);
        background-color: rgba(70, 0, 70, 0.451);
        border-radius: 50px;
        order: 1;
        text-align: left;
        padding-left: 20px;
        margin-left: auto;
        margin-right: auto;
        flex: 0 0 50%;
        font-size: 25px;
        display: block;
        color: rgb(255, 113, 255);
    }

    .tiny-deer {
        max-width: 140px;
        padding: 0px;
        border-radius: 50px;
        order: 0;
        flex: 0 0 30%;
        display: block;
        margin-left: -20px;
        margin-right: 0px;
    }

    .staring-deer {
        min-width: 700px;
        padding: 50px;
        border-radius: 120px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .inside-deer {
        min-width: 700px;
        padding: 50px;
        border-radius: 120px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .inside-deer a {
        min-width: 700px;
        padding: 50px;
        border-radius: 120px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    body.staring-deer {
        background-image: url(/media/pulsing.gif);
    }

    body.inside-deer {
        background-image: url(/media/peep-the-horror.gif);
    }

.blog-top-flex-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    resize: both;
    overflow: auto;
    background-color: transparent;  
}

.blog-middle-flex-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    resize: both;
    overflow: auto;
    background-color: transparent;  
}

.blog-middle-2-flex-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    resize: both;
    overflow: auto;
    background-color: transparent; 
}

.blog-middle-3-flex-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    resize: both;
    overflow: auto;
    background-color: transparent; 
}

    .blog {
        text-align: start;
        flex-grow: 1; 
        padding: 0 20px; 
        margin-top: 15px;
        min-width: 400px;
        min-height: 50px;
        padding-left: 30px; 
        box-sizing: border-box;
        color: #ff53c3;
        font-family: "Lucida Console", monospace;
        font-size: 17px;
        background-color: rgba(70, 0, 70, 0.45);
        border: 5px solid rgba(255, 0, 255, 0.3);
        border-radius: 50px;
    }

    .blog-header {
        text-align: middle;
        flex-grow: 1; 
        padding: 0 20px; 
        margin-top: 15px;
        min-width: 300px;
        min-height: 50px;
        padding-left: 30px; 
        box-sizing: border-box;
        color: #ff53c3;
        font-family: "Lucida Console", monospace;
        font-size: 18px;
        background-color: rgba(70, 0, 70, 0.45);
        border-radius: 50px; 
    }

    .blog-hidden {
        text-align: start;
        flex-grow: 1; 
        padding: 0 20px; 
        margin-top: 15px;
        min-width: 300px;
        min-height: 50px;
        padding-left: 30px; 
        box-sizing: border-box;
        color: #ff53c3;
        font-family: "Lucida Console", monospace;
        font-size: 17px;
        background-color: rgba(70, 0, 70, 0.45);
        border: 5px solid rgba(255, 0, 255, 0.3);
        border-radius: 50px;
        visibility:hidden;
    }

    .blog-title {
        text-align: start;
        flex-grow: 1; 
        padding: 3px; 
        box-sizing: border-box;
        border: 1px solid transparent;
        color: #ff53c3;
        font-family: "Lucida Console", monospace;
        font-size: 27px;
        margin-bottom: -10px;
        margin-top: 20px;
    }

    .blog-image {
        width: 100%;
        height: 200px; 
        display: block;
        margin: 10px auto;
        border-radius: 20px;
    }

    .toggleAllBlogs {
        background-color: #6a5acd;  
        color: #ffffff;             
        border: none;               
        border-radius: 10px;         
        padding: 10px 16px;          
        margin-bottom: 10px;
        cursor: pointer;            
        font-family: "Lucida Console", monospace;  
        font-size: 13px;            
        transition: all 0.3s ease;  
        margin-top: 10px;
    }

    .toggleAllBlogs:hover {
    background-color: #483d8b;  
    transform: scale(1.1);
    }

        button[id^="blogButton"] {
    background-color: #6a5acd;  
    color: #ffffff;             
    border: none;               
    border-radius: 10px;         
    padding: 10px 16px;          
    margin-bottom: 10px;
    cursor: pointer;            
    font-family: "Lucida Console", monospace;  
    font-size: 8px;            
    transition: all 0.3s ease;  
}
            button[id^="blogButton"]:hover {
    background-color: #483d8b;  
    transform: scale(1.1);     
}
            #more {display: none;}


.socials-top-flex-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    resize: both;
    overflow: auto;
    background-color: transparent;
}

.socials-text-area {
    text-align: center;
    flex-grow: 1; 
    padding: 0 20px; 
    margin-top: 15px;
    min-width: 300px;
    min-height: 50px;
    padding-left: 30px; 
    box-sizing: border-box;
    color: #ff53c3;
    font-family: "Lucida Console", monospace;
    font-size: 24px;
    background-color: transparent;
}

.socials-box {
    display: flex;
    flex-direction: row;
    flex-grow: 1; 
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 0 30px; 
    min-width: 300px;
    min-height: 50px;
    padding-left: 30px; 
    box-sizing: border-box;
    color: #ff53c3;
    font-family: "Lucida Console", monospace;
    font-size: 30px;
    background-color: #46004673;
    border: 5px solid rgba(255, 0, 255, 0.3);
    border-radius: 40px;
}

.socials-logo {
    width: 100%;
    height: 250px;
    display: flex;
    order: 0;
    justify-content: center;
    margin: 10px;
}

.minecraft-top-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0; 
    background-color: transparent;
}
    
    .server-info {
    width: 300px; 
    padding: 20px; 
    border: 2px dotted rgb(255, 0, 255); 
    color: #fff; 
    background-color: #234b34d5; 
    overflow: auto; 
    margin-right: 10px; 
}

    .dynmap-area {
    max-width: 50px;
    flex-grow: 1; 
    text-align: right; 
    background-color: transparent;
    font-size: 10px;
    text-align: center;
}
        .dynmap-area iframe {
    width: 900px; 
    height: 500px; 
    border: 8px dotted fuchsia; 
}

.minecraft-middle-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0; 
    background-color: transparent;
}

    .minecraft-bug {
    max-width: 300px; 
    order: 0;
    flex: 0 0 35%; 
    background-color: transparent;
    margin-top: -350px;
    margin-left: -80px;
}
    .minecraft-bug img {
    width: 500px; 
    order: 1;
    flex: 0 0 35%; 
    background-color: transparent;
}

.footer-container {
    border-top: 2px solid #fff; 
    background: transparent; 
    text-align: center; 
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px 0; 
    background-color: transparent;
}

    .gif-row-area {
    text-align: center; 
    padding: 15px 0; 
    background: transparent; 
    max-width: 1000px;
    margin: auto;
}
        .gif-row a {
    margin: 0 5px; 
    display: inline-block; 
    vertical-align: middle; 
}
        .gif-row-area a img {
    width: 88px; 
    height: 31px; 
}

    .very-bottom-area {
    color: white;
    text-align: center;
}

.webring-bucket {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}